setuptools
requests
boto3
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
matplotlib==3.3.4
networkx==2.5.1
numpy==1.19.5
opencv-python==4.3.0.38
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
torch==1.4.0
torchvision==0.1.6
prompt-toolkit==3.0.36
ptyprocess==0.7.0
Pygments==2.14.0
PyYAML==6.0
scikit-image==0.17.2
scipy==1.5.4
alphaui
